version: '2'

services:
    tt1:
        tty: true
        image: docker.io/bitnami/laravel:8
        environment:
            - DB_HOST=
            - DB_USERNAME=
            - DB_DATABASE=
            - DB_PASSWORD=
        ports:
            - 3000:3000
        volumes:
            - ./:/app
        # privileged: true # Privileged mode could be required to run this container under Windows
